:root {
    --chocolote: #47261a;
    --greyM: #9c886f;
    --beige: #ddc08d;
    --marronCafe: #cb8034;
    --marronCafeDark: #66260b;
}

.logo {
    height: 70px;
    width: 70px;
}

nav {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--chocolote);
    align-items: center;
    /* padding: 0 30px; */
    scroll-behavior: smooth;
    z-index: 3;
}

nav ul {
    list-style-type: none;
    display: flex;
}

li {
    padding: 20px 0;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

li:hover {
    text-decoration: underline;
}

.container {
    width: auto;
    height: auto;
    padding: 0 20px;
}


.cabecera {
    height: 100vh;
    width: auto;
    align-items: center;
    text-align: center;
    /* position: relative; */
    background-color: #da8a2f;
    display: flex;
    background-image: url("../assets/imagenes/cafes/cafe-multiples.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}

body {
    margin: 0;
}

.cabecera h2 {
    font-size: 48px;
    margin-bottom: 20px;
    /* width: auto; */
}

.cabecera p {
    font-size: 24px;
    margin-bottom: 50px;
    width: 80%;
}

.btnSaber {
    background-color: transparent;
    border-color: white;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border-style: solid;
    color: white;
    cursor: pointer;
}

.carta {
    margin-top: 30px;
    height: auto;
}

.carta>h2 {
    color: var(--marronCafe);
    font-size: 40px;
    margin-bottom: 50px;
}

.carta__producto {
    /* width: auto; */
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.imgProducto {
    height: 300px;
    border-radius: 10px;
    /* width: 30%; */
    width: 40%;
    margin: 0 10%;

}

.producto__info {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    height: 300px;
    /* width: 400px; */
    width: 35%;
    text-align: justify;
}

.producto__info h3 {
    color: var(--marronCafeDark);
    font-size: 2rem;
}

.btnComprar {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(187, 16, 16);
    color: white;
    border-color: transparent;
    border-style: solid;
    font-weight: 200;
}

.btnComprar:hover {
    background-color: var(--chocolote);
    color: white;
    transition: background-color .25s linear;
    cursor: pointer;
}

/* footer */
footer {
    height: 100px;
    background-color: black;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.footerInformacion {
    display: block;
}

.footerInformacion li {
    /* margin: 10px auto; */
    padding: 1px;
}

.footerInformacion a {
    color: white;
    font-size: 1rem;
}

@media screen and (max-width: 480px) {
    nav {
        width: auto;
    }

    nav ul {
        flex-direction: column;
    }

    nav>ul li {
        padding: 0;
    }

    /* .carta{
        width: auto;
    } */

    .carta>h2 {
        font-size: 2rem;
    }

    .carta__producto {
        flex-direction: column;
        height: auto;
    }

    .producto__info {
        width: auto;
        height: auto;
    }

    .imgProducto {
        height: auto;
    }
}