*{
    margin: 0;
    padding: 0;
    
}

/* body{
    background-color: #fad9c8;
} */


ul{
    list-style-type: none;
    
    display: flex;
   
    
    
}

nav{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: #c57d56; */
    position: sticky;
    top: 0;
    background-color: #f0af8f;
    align-items: center;
}

nav h1{
    margin: 12px;
}

li{
    padding: 20px 14px;
    /* text-align: right; */
}

a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover{
    color: red;
}

li:hover{
    /* background-color: #af6740; */
    text-decoration: underline;
    
}

.container-cabecera{
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px; */
    
    padding: 30px 300px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    
}

.imagen{
    min-width: 300px;
    height: 200px;
    background: aqua;
    margin-right: 10px;
}

p{
    padding: 10px;
}

.cuerpo{
    height: 100vh;
    
   
}





