* {
    margin: 0;
    padding: 0;
}

.logo {
    height: 70px;
}

ul {
    list-style-type: none;
    display: flex;
}

nav {
    height: 80px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #D9411E;
    align-items: center;
    padding: 0 30px;
    scroll-behavior: smooth;
    z-index: 3;
}

li {
    padding: 20px 14px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

a:hover {
    color: white;
}

li:hover {
    text-decoration: underline;
}

.cabecera {
    height: 100vh;
    width: auto;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: #da8a2f;
    display: flex;
}

.cabecera__descripcion {
    padding: 10px;
    width: 70%;
    margin: auto;
    align-items: center;
}

.cuerpo {
    height: 100vh;
}

.carrito {
    height: 40px;
    width: 40px;
}